@charset "euc-kr";

@import url(http://font.imbc.com/noto/noto.css);

/* 초기화 */
* {margin: 0; padding: 0; line-height: 1; letter-spacing: -1px; font-size: 100%; vertical-align: top; border: 0;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
a {text-decoration: none; color: #222;}
.main a {color: #fff;}
ol, ul, dl {list-style: none;}
img, video {border: 0 none; vertical-align: bottom;}
table {border-collapse: collapse; border-spacing: 0;}
body {background: #000; font-family: 'notokr-demilight', '돋움', 'dotum'; min-width: 1340px;}
button, button:focus, button:active {padding: 0; cursor: pointer; font-family: 'notokr-demilight'; background: none; color: #fff;}
button span {position: relative;}
strong {font-family: 'notokr-bold';}
.wrapper {width: 1218px; margin: 0 auto; position: relative;}
.ellipsis-multi {text-overflow: ellipsis; overflow: hidden; display: -webkit-box !important; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word;}
.ellipsis {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.tit {word-break: keep-all;}

/* accessibility */
#accessibility {position: absolute; top: 0; left: 0; z-index: 9999; width: 100%; text-align: left;}
#accessibility a {display: block; position: absolute; top: -1000px; left: 0; z-index: 500; width: 100%; text-align: center;}
#accessibility a:focus, #accessibility a:active {position: absolute; top: 0; z-index: 1000; height: 40px; background: #000; font: bold 12px dotum; color: #fff; line-height: 40px;}

/* ch-mbc (메인만) ***********************************************************************************************************/
.ch-mbc {float: right; height: 100%; position: fixed; top: 0; right: -282px; background: #212121; width: 282px; transition: all 0.3s; -webkit-transition: all 0.3s; z-index: 200;}
.ch-mbc.on {right: 0;}
.ch-mbc-top {height: 254px;}
.ch-mbc .ch-mbc-wrap {overflow-y: auto; height: auto;}
.ch-mbc.on .ch-mbc-wrap {height: calc(100% - 254px);}
.ch-mbc-wrap ul {padding: 30px 0 60px; box-sizing: border-box; text-align: center;}
.ch-mbc-wrap ul li {margin-top: 28px;}
.ch-mbc-wrap ul li:first-child {margin-top: 0;}
.ch-mbc-wrap ul li a:hover {}

button.ch-mbc-btn {position: fixed; top: 27px; right: 0; z-index: 200; transition: all 0.3s; -webkit-transition: all 0.3s; font-size: 0; display: none;}
button.ch-mbc-btn.on {right: 282px;}
button.ch-mbc-btn span {}

/* main ***********************************************************************************************************/
/* nav */
#header {background: url(http://img.imbc.com/commons/2018/image/main/nav-bg-black.png) repeat-x center top; height: 120px; position: absolute; top: 0; right: 0; left: 0; z-index: 180;}
.nav {overflow: hidden; height: 40px;}
.nav .gnb {float: left; overflow: hidden;}
.nav .gnb ul {overflow: hidden;}
.nav .gnb ul li {font-size: 0; float: left; margin-left: 8px; line-height: 45px;}
.nav .gnb ul li:first-child {margin-left: 0;}
.nav .gnb ul li a {padding: 4px 8px; font-size: 18px; box-sizing: border-box; font-family: 'notokr-medium'; vertical-align: middle;}
.nav .gnb ul li a.en {padding: 0; font-size: 0;}
.nav .gnb ul li a span {padding: 6px 8px; font-size: 18px; box-sizing: border-box; vertical-align: middle;}
.nav .gnb ul li:first-child a {padding-left: 0;}
.nav .gnb ul li.logo a, .nav .gnb ul li.search a {font-size: 0;}
.nav .gnb ul li.menu a:hover {background: #fff; color: #000; font-family: 'notokr-bold';}
.nav .gnb ul li.menu.active a {background: #fff; color: #000; font-family: 'notokr-bold';}
.nav .gnb ul li.menu a.en:hover span {font-weight: bold; background: #fff; color: #000; font-family: 'notokr-bold'; letter-spacing: -0.070em;}
.nav .gnb ul li a img {vertical-align: middle;}
.nav .snb {float: right; overflow: hidden;}
.nav .snb ul {overflow: hidden; float: left;}
.nav .snb ul li {font-size: 0; float: left; line-height: 88px;}
.nav .snb ul li a {vertical-align: middle; font-size: 14px; line-height: 0; font-family: 'notokr-bold';}
.nav .snb ul.login {margin-right: 22px;}
.nav .snb ul.login li {margin-left: 9px;}
.nav .snb ul.login li:first-child {background: url(http://img.imbc.com/commons/2018/image/main/snb-line.png) no-repeat right center; margin-left: 0; padding-right: 9px; box-sizing: border-box;}
.nav .snb ul.login li.log {background: url(http://img.imbc.com/commons/2018/image/main/snb-line.png) no-repeat right center; padding-right: 9px; box-sizing: border-box;}
.nav .snb ul.box {margin-top: 27px;}
.nav .snb ul.box li {background: url(http://img.imbc.com/commons/2018/image/main/snb-box.png) no-repeat left center; width: 58px; height: 34px;}
.nav .snb ul.box li a {text-align: center; display: block; width: 100%; height: 34px; line-height: 34px;}
.nav .snb ul.box li.clip {width: 58px; background-position: right center;}

/* main - 공통 */
.main {width: 100%;}
.main-wrap {position: relative; margin-right: 0; background: #000; color: #fff; width: auto; transition: all 0.3s; -webkit-transition: all 0.3s; transform-origin: center right;}

.con-area .img video {z-index: 80;}

/* (ch-mbc 있을 경우) */
.main-wrap.on {width: auto; margin-right: 282px;}

/* (슬라이드 있을 경우) */
.pagination {}

.pagination ul {text-align: center;}
.pagination ul li {float: left; margin-left: 6px;}
.pagination ul li:first-child {margin: 0;}
.pagination ul li button {text-indent: -9999px; width: 10px; height: 10px; background: url(http://img.imbc.com/commons/2018/image/main/pagination-btn.png) center top;}
.pagination ul li.slick-active button {background-position: center -10px;}
.pause button {float: right; clear: both; width: 28px; height: 28px; text-indent: -9999px; background: url(http://img.imbc.com/commons/2018/image/main/pagination-btn.png) center -20px;}
.pause button.play {background-position: center bottom;}

button.slick-arrow {position: absolute; top: 50%; margin-top: -21px; z-index: 140; width: 42px; height: 42px; text-indent: -9999px; background: url(http://img.imbc.com/commons/2018/image/main/navi-btn.png) no-repeat left center;}
button.slick-prev {left: 0;}
button.slick-next {right: 0; background-position: right center;}

/* (메인 각 컨텐츠별 타이틀 공통) */
.tit-wrap {overflow: hidden; position: relative; margin-bottom: 24px;}
h3.cont-tit {font-size: 26px; font-family: 'notokr-bold'; float: left;}

/* (메인 컨텐츠 tag box) */
.tag {padding: 30px 0 0 11px; box-sizing: border-box; z-index: 100; width: 88px; height: 98px; background: url(http://img.imbc.com/commons/2018/image/main/vod-cate-bg.png) no-repeat center top;}
.tag .sub {color: #fff; font-size: 14px; font-family: 'notokr-bold';}

/* search 공통 */
.search a {color: #fff;}
.search-area {display: none; text-align: center; width: 100%; height: 100%; z-index: 160; position: fixed; top: 0; left: 0; padding-top: 125px;}
.search-area .search-after {width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: url(http://img.imbc.com/commons/2018/image/main/search-bg.png); z-index: 140;}
.search-area.active {display: block;}
.search-area .search-box {position: relative; z-index: 150; width: 1010px; height: 437px; background: url(http://img.imbc.com/commons/2018/image/main/search-box-bg.jpg) no-repeat center top; margin: 0 auto;}
.search-area .box-wrap {width: 594px; margin: 0 auto;}
.search-area .search-form {padding-top: 28px; margin-bottom: 38px; position: relative;}
.search-area .search-form input[type="text"] {font-size: 34px; color: #9c9c9c; width: 100%; padding: 18px 38px 18px 0; text-align: center; background: #fafbfb; box-sizing: border-box; border-bottom: 3px solid #e6e6e6; height: auto; line-height: normal;}
.search-area .search-form input::placeholder {color: #9c9c9c;}
.search-area .search-form label {position: absolute; top: -9999px;}
.search-area .search-form form button {position: absolute; top: 53px; right: 0;}
.search-area .best-list {text-align: left; overflow: hidden;}
.search-area .pop-list {float: left; width: 50%;}
.search-area .pop-list h3 {font-size: 24px; color: #1e1e1e; font-size: 24px; font-family: 'notokr-bold'; margin-bottom: 25px; letter-spacing: -2px;}
.search-area .pop-list h3 strong {color: #4664e6; font-weight: normal;}
.search-area .pop-list ol li {font-size: 18px; margin-top: 15px;}
.search-area .pop-list ol li:first-child {margin-top: 0;}
.search-area .pop-list ol li span, .search-area .pop-list ol li strong {line-height: 22px; display: inline-block; font-weight: normal; font-family: 'notokr-demilight';}
.search-area .pop-list ol li span {width: 7%; color: #7687e2; font-style: italic;}
.search-area .pop-list ol li strong {width: 93%; color: #1e1e1e;}
.search-area .pop-word {padding-right: 20px; box-sizing: border-box;}

/* main-spot */
.spot-area .spot-wrap {position: absolute; top: 74px; right: 0; z-index: 120;}
.spot-area .spot-wrap.on {z-index: 180;}

/* main - visual */
.visual-area {height: 720px; width: 100%; position: relative;}
.visual {position: absolute; top: 0; left: 0; width: 100%; height: 720px; overflow: hidden;}
.visual .item {overflow: hidden; height: 720px; position: relative; border: none;}
.visual .item span {display: block;}
/*.visual .visual-slide .slick-slide {width: 100% !important;}*/
.visual .item a {display: block; height: 720px; position: relative;}
.visual .item .img img {width: 100%; min-width: 1920px; position: absolute; top: 0; bottom: 0; right: -50%; left: -50%; margin: auto;}
.visual .item .con-info.wrapper {position: absolute; top: 0; left: 0; right: 0; margin: auto; height: 100%;}
.visual .item .con-wrap {position: absolute; bottom: 32%; left: 0; right: 0; margin: auto; min-height: 200px; z-index: 100;}
.visual .item .con-style1 {bottom: 32%;}
.visual .item .con-wrap .sub {font-size: 18px; font-family: 'notokr-bold'; margin-bottom: 15px; line-height: 26px;}
.visual .item .con-wrap .tit {font-size: 68px; font-family: 'notokr-bold'; margin-bottom: 50px; line-height: 72px; letter-spacing: -7px;}
.visual .item .con-wrap .sum {font-size: 26px; line-height: 32px; height: 32px; margin: -14px 0 10px; width: 60%;}
.visual .item .rel-btn {box-sizing: border-box;}
.visual .item .rel-btn button {background: url(http://img.imbc.com/commons/2018/image/main/top-layer.png); position: relative; z-index: 150; display: block; font-size: 20px; width: 153px; height: 49px; color: #fff; letter-spacing: -1px; overflow: hidden;}
.visual .item .rel-btn button span {display: inline-block; line-height: 21px;}
.visual .item .rel-btn button span.txt {margin-right: 10px;}
.visual .item .rel-btn button span.arr {width: 16px; height: 9px; margin-top: 6px; background: url(http://img.imbc.com/commons/2018/image/main/rel-contents.png) no-repeat right top;}
.visual .item .rel-btn button span.arr.active {background-position: right bottom;}

/*.visual .visual-page-wrap {position: absolute; top: 5px; left: 50%; margin-left: -609px;}*/
/*.visual .page-wrap {width: 30px; height: 720px; position: absolute; top: 0; right: 0; line-height: 720px;}*/
.visual .visual-page {display: inline-block; vertical-align: middle;}
.visual .visual-page ul li {float: none; margin-left: 0; margin-bottom: 10px;}
.rel-contents {opacity: 0; filter: alpha(opacity=0); height: 175px; width: 1218px; overflow: hidden; position: absolute; bottom: 0; left: 0; right: 0; margin: auto; background: url(http://img.imbc.com/commons/2018/image/main/rel-con-bg.png); z-index: -100;}
.rel-contents.active {z-index: 140; bottom: 102px; opacity: 1; filter: alpha(opacity=100);}
/*.rel-contents .rel-Slide {margin: 0 auto; padding: 30px 10px 18px; box-sizing: border-box;}*/
.rel-contents .rel-Slide .slick-prev {}

.rel-contents .rel-Slide .item {padding: 0 20px; box-sizing: border-box;}
.rel-contents .rel-Slide span {display: block;}
.rel-contents .rel-Slide span.img, .rel-contents .rel-Slide span.txt {float: left; height: 100px; width: 50%; overflow: hidden;}
.rel-contents .rel-Slide span.img {position: relative; z-index: 40; background: #000;}
.rel-contents .rel-Slide span.img img {width: 100%; height: auto; position: absolute; right: -50%; left: -50%; top: 0; bottom: 0; margin: auto;}
.rel-contents .rel-Slide span.img:after {content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: url(http://img.imbc.com/commons/2018/image/main/thumb-cover.png);}
.rel-contents .rel-Slide span.txt {background: #000; padding: 14px 20px; box-sizing: border-box;}
.rel-contents .rel-Slide span.txt .sub {font-size: 14px; color: #9c9c9c; margin-bottom: 10px;}
.rel-contents .rel-Slide span.txt .tit {height: 2.4em; font-size: 20px; line-height: 25px; color: #f2f2f2;}
.rel-contents .rel-Slide .video span.img:after {content: url(http://img.imbc.com/commons/2018/image/main/video-icon.png); text-align: center; vertical-align: middle; line-height: 100px;}
.rel-page {position: relative;}
.rel-page ul {position: absolute; left: 50%; right: 0%; top: 0; margin: auto; min-width: 22px;}
.rel-page ul li button {background: url(http://img.imbc.com/commons/2018/image/main/rel-con-page.png) no-repeat center right; width: 8px; height: 8px;}
.rel-page ul li.slick-active button {background-position: center left;}

/* main - 연예 */
.ent-slide-v2 span, .ent-slide-v2 a {display: block;}
.ent-area {padding: 60px 0; overflow: hidden;}
.ent-area .tit-wrap {margin-bottom: 30px; width: 100%;}
.ent-left {width: 594px; float: left; padding-right: 10px;}
.ent-left .img {width: 594px; height: 334px; overflow: hidden; position: relative;}
.ent-left .img:after {content: ''; z-index: 2; display: block; width: 100%; height: 100%; position: absolute; left: 0; bottom: 0; background: url(http://img.imbc.com/commons/2018/image/main/thumb-cover.png); border: 1px solid rgba(0, 0, 0, 0.2); box-sizing: border-box;}
.ent-left .img img {transition: all 0.3s; transform-origin: center center; -ms-transition: all 0.3s; -ms-transform-origin: center center; width: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}
.ent-left .txt {height: 130px; padding: 25px 27px 0; box-sizing: border-box; width: 100%; background-color: #1b1b1b;}
.ent-left .tit {font-size: 26px; line-height: 36px; font-family: 'notokr-bold'; color: #f2f2f2; height: 2.8em; box-sizing: border-box;}
.ent-left a:hover .tit {text-decoration: underline;}
.ent-left a:hover .img img {transform: scale(1.03); -ms-transform: scale(1.03);}
.ent-right {width: 594px; float: right;}
.ent-right ul.top-item {overflow: hidden; margin-bottom: 32px;}
.ent-right ul.top-item li {width: 282px; float: left; margin-left: 30px;}
.ent-right ul.top-item li:first-child {margin-left: 0;}
.ent-right ul.top-item li .img {height: 159px; overflow: hidden; margin-bottom: 17px; position: relative;}
.ent-right ul.top-item li .img:after {content: ''; z-index: 2; display: block; width: 100%; height: 100%; position: absolute; left: 0; bottom: 0; background: url(http://img.imbc.com/commons/2018/image/main/thumb-cover.png); border: 1px solid rgba(0, 0, 0, 0.2); box-sizing: border-box;}
.ent-right ul.top-item li img {transition: all 0.4s; transform-origin: center center; -ms-transition: all 0.3s; -ms-transform-origin: center center; width: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}
.ent-right ul.top-item li .tit {font-size: 20px; line-height: 26px; height: 2.6em; color: #f2f2f2;}
.ent-right ul.bottom-item {background-color: #1b1b1b; height: 204px; padding: 0 25px; box-sizing: border-box;}
.ent-right ul.bottom-item li {padding: 20px 0; border-top: 1px solid #313131;}
.ent-right ul.bottom-item li:first-child {border-top: 0;}
.ent-right ul.bottom-item li a {line-height: 27px; display: block; font-size: 20px;}
.ent-right ul li a:hover {text-decoration: underline;}
.ent-right ul li a:hover img {transform: scale(1.05); -ms-transform: scale(1.05);}
.ent-page {position: absolute; right: 0; top: 50%; margin-top: -5px;}


/* main - 오리지널 */
.original-area {padding: 66px 0 60px; position: relative; background-color: #0b0b0b;}
.original-wrap {position: relative; min-height: 280px; *height: 280px; overflow: hidden; z-index: 10;}
.original-page {position: absolute; right: 0; top: 19px;}
.original-slide {width: 1250px; position: absolute; right: -50%; left: -50%; margin: auto;}
.original-slide .slick-prev {left: 16px;}
.original-slide .slick-next {right: 16px;}
.original-slide button.slick-arrow {top: 62px; margin-top: 0;}
.original-slide .inner-item {width: 25%; float: left;}
.original-slide .item a, .original-slide .item span {display: block;}
.original-slide .item a {margin: 0 15px;}
.original-slide .item .img {position: relative; width: 282px; height: 159px; overflow: hidden; margin-bottom: 10px;}
.original-slide .item .img:before {content: ''; z-index: 10; display: block; width: 100%; height: 100%; position: absolute; left: 0; bottom: 0; background: url(http://img.imbc.com/commons/2018/image/main/thumb-cover.png); border: 1px solid rgba(0, 0, 0, 0.2); box-sizing: border-box;}
.original-slide .item .img img {width: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;}
.original-slide .item .tit {color: #f2f2f2; font-size: 20px; line-height: 26px; height: 2.6em; width: 95%;}
.original-slide .item a:hover .tit {text-decoration: underline;}
.original-bg {width: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; overflow: hidden;}
.original-bg img {width: 1920px; position: absolute; top: 0; left: -50%; right: -50%; bottom: 0; margin: auto;}
.original-bg:after {content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(0, 0, 0, 0.7);}


/******************************************************************************************** sub - test */
.sub .test {height: 200px;}

/* footer 공통 */
#footer {background-color: #000; padding: 30px 0 60px;}
.fnb-wrap {overflow: hidden; margin-bottom: 35px;}
.fnb-wrap ul {overflow: hidden; font-size: 0;}
.fnb-wrap ul li {float: left; height: 20px;}
.fnb-wrap ul.foot-menu {float: left;}
.fnb-wrap ul.foot-menu li {margin-left: 20px;}
.fnb-wrap ul.foot-menu li:first-child {margin-left: 0;}
.fnb-wrap ul.foot-menu li a {font-size: 16px; line-height: 20px; vertical-align: bottom; font-family: 'notokr-demilight'; color: #acacac; display: block;}
.fnb-wrap ul.foot-menu li a span, .fnb-wrap ul.foot-menu li a strong {font-size: 16px; line-height: 20px; vertical-align: bottom;}
.fnb-wrap ul.foot-menu li a span {font-family: "noto-regular";}
.fnb-wrap ul.foot-menu li a strong {font-family: 'notokr-bold'; font-weight: normal;}
.fnb-wrap ul.foot-menu li:hover a {color: #e5e5e5; font-weight: normal;}
.fnb-wrap ul.sns-menu {float: right;}
.fnb-wrap ul.sns-menu li {margin-left: 17px;}
.fnb-wrap ul.sns-menu li:first-child {margin-left: 0;}
.fnb-wrap ul.sns-menu li a {width: 22px; height: 20px; display: block; text-indent: -9999px; background-repeat: no-repeat; background-position: center top;}
.fnb-wrap ul.sns-menu li a.twt {width: 20px; background-image: url(http://img.imbc.com/commons/2018/image/main/fnb-sns1.png);}
.fnb-wrap ul.sns-menu li a.fcb {width: 10px; background-image: url(http://img.imbc.com/commons/2018/image/main/fnb-sns2.png);}
.fnb-wrap ul.sns-menu li a.isg {background-image: url(http://img.imbc.com/commons/2018/image/main/fnb-sns3.png);}
.fnb-wrap ul.sns-menu li a.ytb {background-image: url(http://img.imbc.com/commons/2018/image/main/fnb-sns4.png);}
.add-wrap {margin-bottom: 28px;}
.add-wrap {font-size: 14px; color: #a5a5a5; line-height: 24px;}
.add-wrap .add-list span {line-height: 24px; background: url(http://img.imbc.com/commons/2018/image/main/add-vertical-line.png) no-repeat left center; padding-left: 8px; margin-left: 8px;}
.add-wrap .add-list span.ceo {background: none; padding-left: 0; margin-left: 0;}
.copylight {font-size: 14px; letter-spacing: 0; color: #fff;}

/* focus */
.visual .item a:focus:after {content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.spot-area .spot-wrap.on a:focus {outline: 0; opacity: 0.5;}

/**/

.search, .nav .snb, .nav .gnb ul li.logo {display: none;}
.nav .gnb {float: right;}
.nav .gnb ul li a {font-size: 12px;}
.nav .logo {float: left; height: 40px;}
.nav .logo > a {display: block; width: 100%; height: 100%; line-height: 30px;}
.visual .visual-page {vertical-align: inherit; width: 160%;}
.visual .visual-page ul li {float: left; margin-left: 10px; margin-bottom: 0; padding-top: 10px;}
.visual .visual-page ul li:first-child {margin-left: 0;}
/*.visual .visual-page-wrap {top: unset; bottom: 10px; left: 0; margin-left: 0; width: 100%; height: 30px; margin: 0 auto;}*/
/*.visual .page-wrap {width: 100%; height: 30px; position: unset; margin: 0 auto; max-width: 170px;}*/
/*.visual .page-wrap {width: auto; min-width: 70px; height: 30px; margin: 0 auto; display: inline-block; position: absolute; left: 50%; top: 660px;}*/
.visual .visual-page-wrap {position: absolute; bottom: 5px; left: 0; width: 100%; height: 30px; margin: 0 auto;}
.visual .page-wrap {width: auto; min-width: 70px; height: 30px; line-height: 720px; margin: 0 auto; display: inline-block; position: absolute; left: 50%;}


.visual .pause button {float: left; clear: none; margin-left: 10px;}

.nav_wrap {width: 100%; border-bottom: 1px solid #5f5f5b;}

.clip-area {/* padding: 66px 0 60px; */ background-color: #0b0b0b; padding-top: 60px;}
.main .section1 {width: 1218px; margin: 0 auto; position: relative; padding-bottom: 25px;}

.main #eaclipList {height: 290px;}

.prgr_nav_wrap {position: absolute; top: 0; right: 0; z-index: 190;}
.prgr_nav_wrap a {display: block; text-align: center;}
.prgr_nav_wrap .prgr_nav .pn_title > a {height: 64px; line-height: 64px;}
.prgr_nav_wrap .prgr_nav .pn_title > ul > li > a {height: 44px; line-height: 44px;}
.prgr_nav_wrap .prgr_nav {font-size: 16px;}
.prgr_nav_wrap .prgr_nav .pn_title {width: 284px; float: left; color: #FFF;}
.prgr_nav_wrap .prgr_nav .pn_title > a {background: #000;}
/*.prgr_nav_wrap .prgr_nav .pn_title > ul {background: rgba(0, 0, 0, 0.5);}*/
.prgr_nav_wrap .prgr_nav .pn_title > ul {background: url(http://img.imbc.com/broad/tv/ent/event/2019mbc/images/rgba_0-0-0-o5.png) repeat;}
.prgr_nav_wrap .prgr_nav .pn_title:hover > a {text-decoration: underline;}
.prgr_nav_wrap .prgr_nav .pn_title > ul > li:hover > a {text-decoration: underline;}
.prgr_nav_wrap .prgr_nav .pntt_01:hover > a {color: #5c6fff;}
.prgr_nav_wrap .prgr_nav .pntt_02:hover > a {color: #f14545;}
.prgr_nav_wrap .prgr_nav .pntt_03:hover > a {color: #887cf9;}

.banner_area {width: 100%; background: #000;}
.banner_area .bnnr_bx {width: 100%; max-width: 1218px; height: 170px; margin: 0 auto;}
.banner_area .bnnr_bx a {display: block; width: 100%;}
.banner_area .bnnr_bx a img {width: 100%;}

.top_txt_wrap {width: 100%; max-width: 1218px; height: 65px; margin: 0 auto; position: relative; top: 85px;}
.top_txt_wrap .top_txt_bx {width: 230px; height: 25px; padding: 20px 0;}
.top_txt_wrap .top_txt_bx img {}


/**/

/*===============content [START]===============*/
#programContent.content {width: 1024px; margin: 0 auto;}
.section {position: relative; height: 250px;}
.main .tit-content {font-size: 26px; font-family: 'notokr-bold'; text-align: left; margin-bottom: 24px;}
.main .section2 {margin-bottom: 46px; height: 260px;}
.main .section3 {margin-bottom: 100px;}
.main .section2, .main .section3 {}
.none-video {height: 250px; margin-left: -7%;}

/* .section1 */
.main .ad-rectangle {position: absolute; top: 0; right: 0; width: 250px; height: 250px;}
.main .banner {float: right;}
.main .banner .banner-wrap {position: relative; display: block; width: 250px; height: 250px; background: url(http://img.imbc.com/broad/tv/culture/straight/images/main-ban-jebo.jpg) no-repeat center center; background-size: 250px;}
.main .banner .banner-wrap span.jebo-text {padding-top: 148px; display: block;}
.main .banner .banner-wrap span.jebo-text span {font-size: 16px; line-height: 24px; letter-spacing: 0em; color: #000; display: block; text-align: center;}

/*list-btn*/
.main .btn-box {position: absolute; top: 0; right: 0; height: 28px;}
.main .btn-box .btn-list {display: inline-block; border: 0; margin: 0; padding: 0; background: url("http://img.imbc.com/broad/tv/ent/event/2019mbc/images/btn-prevNext.jpg") no-repeat; background-size: cover; font-size: 0; text-indent: -9999em; vertical-align: top; cursor: pointer;}
.main .btn-box .btn-list.prev {width: 28px; height: 28px; margin-right: -5px; background-position: 0 0; left: 0;}
.main .btn-box .btn-list.next {width: 28px; height: 28px; background-position: -27px 0; right: 0;}

/* list-style */
.main .clip-wrap {width: 1250px; position: absolute; right: -50%; left: -50%; margin: auto;}
.main .type-list {width: 100%; height: 220px; margin-top: 6px; overflow: hidden;}
.main .type-list li {float: left; width: 25%;}
.main .type-list li:nth-child(4n) {margin-right: 0;}
.main .type-list li a {display: block; margin: 0 15px;}
.main .type-list li a:hover .title {text-decoration: underline;}
.main .type-list li .img {position: relative; width: 282px; height: 159px; overflow: hidden; margin-bottom: 10px;}
.main .type-list li .img img {width: 100%;}
.main .type-list li .txt-wrap {}
.main .type-list li .txt-wrap .title {color: #f2f2f2; font-size: 20px; line-height: 26px; height: 2.6em; width: 95%;}
.main .type-list li .txt-wrap .date {position: absolute; left: 16px; bottom: 14px; font-family: 'Verdana'; font-size: 11px; color: #757575; line-height: 1; letter-spacing: 0; display: none;}